.obsidian/plugins/**/*.js
.obsidian/plugins/**/*.css
.obsidian/plugins/**/manifest.json

.obsidian/plugins/**/cursor-positions.json
.obsidian/plugins/**/rss-reader/data.json
.obsidian/plugins/**/novel-word-count/data.json
.obsidian/plugins/**/recent-files-obsidian/data.json

*.bundle
.*.md
.history

dist/
deps/
target/
gen/
file_cache/
